aiogram
requests
aiohttp
aiosignal
APScheduler 
async-timeout
attrs
Babel
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
pip
pytz
scheduler
setuptools
six
typeguard
tzdata
tzlocal
urllib3
yarl
